# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# System files
*.DS_Store

# Ignore build directory
build/
SubGHz_Phy_PingPong/build/
SubGHz_Phy_PingPong/build.ninja
SubGHz_Phy_PingPong/compile_commands.json
_deps
CMakeFiles
CMakeCache.txt
*.DS_Store